.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: white;
    text-align: center;
    font-family: Consolas;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: whitesmoke;
    color: white;
    text-align: center;
    font-family: Consolas;
}

.base{
    position: fixed;
    left: 20px;
    top: 100px;

}

.br {
    border-right: #000000 double;
}

td{
    padding-left: 20px;
    padding-right: 20px;
}