<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>РСХБ-Страхование :: Конвертор для КОМИТЫ</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/rshbil.css"/>
</head>
<body>

<div class="header">
    <img src="brand.jpg" style="float:right;clear:right;">
</div>

<div class="base">
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr>
                <td>Файл для обработки</td>
                <td><input type="file" name="file"/></td>
                <td></td>
                <td><input type="submit" value="Обработать"/></td>
            </tr>
        </table>
    </form>
</div>

<div class="footer">
    <table>
        <tr>
            <td class="br">Converter prototype by Oleg Balitskiy</td>
            <td class="br">Contact information: <a href="mailto:ovbalitskiy@gmail.com">ovbalitskiy@gmail.com</a></td>
            <td>Phone: +7 903 773 9016</td>
        </tr>
    </table>
</div>

</body>
</html>